<div class="row">

  <div class="col-lg-3">

    <app-categorylist></app-categorylist>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <!-- <div class="row"> -->

    <!-- <app-search></app-search> -->

    <br>


    <div class="row">

      <div class="col-12 col-md-4">
        <div class="img-thumbnail">
          <img [src]="productlist.guid" width="250" height="300" alt="">
        </div>
      </div>

      <div class="col-12 col-md-8">
        <h3>{{productlist.posttitle}}</h3>
        <hr>
        <p>{{productlist.posttitle}}</p>
        <hr>
        <h4>Price: {{productlist.categorie}}</h4>
        <hr>
        <h6>Qty. Available: {{productlist.id}}</h6>
        <hr>
        <a class="btn btn-primary" [routerLink]="['/products']"><i class="fas fa-arrow-left"></i> Back</a>
        <!-- <button (click)="addToCart()" class="btn btn-success ml-1"><i class="fas fa-cart-arrow-down"></i> Add To Cart</button> -->

      </div>
    </div>

    <!-- </div> -->
    <!-- /.row -->

    <br>
    <br>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
              aria-controls="description" aria-selected="true">Description</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping"
              aria-selected="false">Shipping</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link" id="additional_information-tab" data-toggle="tab" href="#additional_information"
              role="tab" aria-controls="additional_information" aria-selected="false">Informations complémentaires</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link" id="reviews_tab-tab" data-toggle="tab" href="#reviews_tab" role="tab"
              aria-controls="reviews_tab" aria-selected="false">Avis (0)</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link" id="seller-tab" data-toggle="tab" href="#seller" role="tab" aria-controls="seller"
              aria-selected="false">Vendor Info</a>
          </li>


          <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab-more_seller_product-tab" data-toggle="tab" href="#tab-more_seller_product"
              role="tab" aria-controls="tab-more_seller_product" aria-selected="false">Plus de produits</a>
          </li>

        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="row">
              <br>
              <div class="col-md-12">

                <h6 style='display:inline'>SKU :</h6>
                <p style='display:inline'>{{mapProduct.get('_sku')}}</p><br>
                <h6 style='display:inline'>Visibility :</h6>
                <p style='display:inline'>{{mapProduct.get('_visibility')}}</p><br>
                <h6 style='display:inline'>Disponibility in Stock :</h6>
                <p style='display:inline'>{{mapProduct.get('_stock_status')}}</p><br>
                <h6 style='display:inline'>Total Sales :</h6>
                <p style='display:inline'>{{mapProduct.get('total_sales')}}</p><br>
                <h6 style='display:inline'>Downloadable :</h6>
                <p style='display:inline'>{{mapProduct.get('_downloadable')}}</p><br>
                <h6 style='display:inline'>Virtual :</h6>
                <p style='display:inline'>{{mapProduct.get('_virtual')}}</p><br>
                <h6 style='display:inline'>Featured :</h6>
                <p style='display:inline'>{{mapProduct.get('_featured')}}</p><br>
                <h6 style='display:inline'>Review Count :</h6>
                <p style='display:inline'>{{mapProduct.get('_wc_review_count')}}</p><br>
                <h6 style='display:inline'>Post View Count :</h6>
                <p style='display:inline'>{{mapProduct.get('post_views_count')}}</p><br>
                <h6 style='display:inline'>Page View Count :</h6>
                <p style='display:inline'>{{mapProduct.get('pageview')}}</p><br>

              </div>


            </div>


          </div>
          <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">Shipping</div>
          <div class="tab-pane fade" id="additional_information" role="tabpanel"
            aria-labelledby="additional_information-tab">Informations complémentaires</div>
          <div class="tab-pane fade" id="reviews_tab" role="tabpanel" aria-labelledby="reviews_tab-tab">Avis
            ({{mapProduct.get('_wc_review_count')}})</div>
          <div class="tab-pane fade" id="seller" role="tabpanel" aria-labelledby="seller-tab"
            (click)="selectOwnerDetailById(productlist.prodctOwner)">

            <br>
            <button class="btn btn-success" (click)="selectOwnerDetailById(productlist.prodctOwner)">show Info</button>
            <br>
            <div class="row">
              <br>
              <br>
              <div class="col-md-12">

                <h6 style='display:inline'>First Name :</h6>
                <p style='display:inline'>{{mapOwner.get('first_name')}}</p><br>
                <h6 style='display:inline'>Last Name :</h6>
                <p style='display:inline'>{{mapOwner.get('last_name')}}</p><br>
                <h6 style='display:inline'>Disponibility in Stock :</h6>
                <p style='display:inline'>{{mapOwner.get('billing_country')}}</p><br>
                <h6 style='display:inline'>Billing Country :</h6>
                <p style='display:inline'>{{mapOwner.get('total_sales')}}</p><br>
                <h6 style='display:inline'>Billing Address 1 :</h6>
                <p style='display:inline'>{{mapOwner.get('billing_address_1')}}</p><br>
                <h6 style='display:inline'>Billing Postcode :</h6>
                <p style='display:inline'>{{mapOwner.get('billing_postcode')}}</p><br>
                <h6 style='display:inline'>Shipping Postcode :</h6>
                <p style='display:inline'>{{mapOwner.get('shipping_postcode')}}</p><br>
                <h6 style='display:inline'>Shipping Email :</h6>
                <p style='display:inline'>{{mapOwner.get('shipping_email')}}</p><br>
                <h6 style='display:inline'>Shipping Phone :</h6>
                <p style='display:inline'>{{mapOwner.get('shipping_phone')}}</p><br>
              </div>


            </div>


          </div>



          <div class="tab-pane fade" id="tab-more_seller_product" role="tabpanel"
            aria-labelledby="tab-more_seller_product-tab">
            Plus de produits

            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a [routerLink]="['/products',productlistRendom.id]"><img class="card-img-top"
                      [src]="productlistRendom.guid" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a
                        [routerLink]="['/products',productlistRendom.id]">{{productlistRendom.posttitle | uppercase}}</a>
                    </h4>
                    <h5>{{productlistRendom.idcategorie | currency}}</h5>
                    <p class="card-text text-truncate">{{productlistRendom.categorie}}</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a [routerLink]="['/products',productlistRendom.id]"><img class="card-img-top"
                      [src]="productlistRendom.guid" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a
                        [routerLink]="['/products',productlistRendom.id]">{{productlistRendom.posttitle | uppercase}}</a>
                    </h4>
                    <h5>{{productlistRendom.idcategorie | currency}}</h5>
                    <p class="card-text text-truncate">{{productlistRendom.categorie}}</p>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a [routerLink]="['/products',productlistRendom.id]"><img class="card-img-top"
                      [src]="productlistRendom.guid" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a
                        [routerLink]="['/products',productlistRendom.id]">{{productlistRendom.posttitle | uppercase}}</a>
                    </h4>
                    <h5>{{productlistRendom.idcategorie | currency}}</h5>
                    <p class="card-text text-truncate">{{productlistRendom.categorie}}</p>
                  </div>
                </div>
              </div>



            </div>



          </div>


        </div>

      </div>
    </div>

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->