<!-- <h1 class="my-4"></h1>
<div class="list-group">
  <a *ngFor="let category of listcategories" [routerLink]="['/category',category.id_categorie]"
    routerLinkActive="bg-primary text-white font-white-bold" class="list-group-item">{{category.categorie}}</a>
</div> -->

<br>




<br>

<!-- 
<div class="accordion" id="accordionExample" *ngFor="let category of listcategories">
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button (click)="selectAllCategoriesParentId(category.id_categorie)"
          class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          attr.data-target="#c_{{category.id_categorie}}" aria-expanded="false" aria-controls="collapseThree">
          {{category.categorie}}
        </button>
      </h2>
    </div>
    <div id="c_{{category.id_categorie}}" class="collapse" attr.aria-labelledby="headingThree"
      data-parent="#accordionExample">
      <div *ngFor=" let subCategory of listCategoriesParent">
        <div class="card-body" >
          <a id="c_{{category.id_categorie}}"
            [routerLink]="['/category',subCategory.id_categorie]">{{subCategory.categorie}}</a>
        </div>
      </div>
    </div>
  </div>
</div> -->







<ul class="nav flex-column flex-nowrap overflow-hidden" *ngFor="let category of listcategories">

  <li class="nav-item" (click)="selectAllCategoriesParentId(category.id_categorie)">
    <a class="nav-link collapsed text-truncate" href="#c_{{category.id_categorie}}" data-toggle="collapse"
      attr.data-target="#c_{{category.id_categorie}}"> <span
        class="d-none d-sm-inline">&nbsp; {{category.categorie}}</span></a>
    <div class="collapse" id="c_{{category.id_categorie}}" aria-expanded="false">
      <ul class="flex-column pl-2 nav" *ngFor=" let subCategory of listCategoriesParent">
        <li class="nav-item">
          <!-- <a class="nav-link py-0" href="#"><span>Orders</span></a> -->
          <a id="c_{{category.id_categorie}}"
            [routerLink]="['/category',subCategory.id_categorie]">{{subCategory.categorie}}</a>
        </li>

      </ul>
    </div>
  </li>
</ul>



