<div class="wrapper">
  <div class="content">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
              <a class="navbar-brand" routerLink="/products">Products Store</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <!-- <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-8">
                              <input type="text" name="search" class="form-control" id="">
                          </div>
                          <div class="col-md-2">
                              <button type="submit" class="btn btn-primary">Search</button>
                          </div>
                      </div>
                  </div> -->
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Home
                              <span class="sr-only">(current)</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Services</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Contact</a>
                      </li>

                      <!-- <li class="nav-item"> -->
                          <!-- <app-cart-status></app-cart-status>         -->
                      <!-- </li> -->
                  </ul>
              </div>
          </div>
      </nav>

      <!-- Page Content -->
      <div class="container">

        <router-outlet></router-outlet>

      </div>
      <!-- /.container -->

  </div>
  <!-- Footer -->
  <footer class="py-5 footer">
      <div class="container">
          <p class="m-0 text-center text-dark">Copyright &copy; Your Website 2020</p>
      </div>
      <!-- /.container -->
  </footer>
</div>
