<div class="row">
    <div class="col-md-6">
      <h5>Available Products</h5>
    </div>
    <div class="col-md-6 float-right">
      <div class="row">
        <div class="col-md-8">
          <input type="text" #searchInput (keyup.enter)="getSerachParam(searchInput.value)" name="search" class="form-control" id="">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="getSerachParam(searchInput.value)">Search</button>
        </div>
      </div>
    </div>
  </div>
  