<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white;">Please wait ...</p>
</ngx-spinner>

<div class="row">

  <div class="col-lg-3">

   <app-categorylist></app-categorylist>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="\assets\images\1.webp" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="\assets\images\2.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="\assets\images\3.webp" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="\assets\images\4.webp" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="\assets\images\5.webp" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- <div class="row"> -->

    <app-search></app-search>

    <br>


    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let productlist of productlists">
        <div class="card h-100">
          <a [routerLink]="['/products',productlist.id]"><img class="card-img-top" [src]="productlist.guid" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a [routerLink]="['/products',productlist.id]">{{productlist.posttitle | uppercase}}</a>
            </h4>
            <h5>{{productlist.idcategorie | currency}}</h5>
            <p class="card-text text-truncate">{{productlist.categorie}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right"  >Add Cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert" *ngIf="productlists?.length == 0 ||!productlists">
          There is no book available with this name .please chose anthor name and repete again.
        </div>
      </div>
    </div>

    <!-- </div> -->
    <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <span class="mr-2">Page Size:</span>
          </div>
          <div class="col-md-8">
            <select (change)="updatePageSize($event.target.value)"
                    class="form-control-sm"
            >
              <option selected value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="totalItems"
        (pageChange)="selectAllProducts()"
        class="d-flex justify-content-end"
        >
          <ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
          <ng-template ngbPaginationFirst>First</ng-template>
          <ng-template ngbPaginationLast>Last</ng-template>
        </ngb-pagination>

      </div>
    </div>
  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
